<template>
  <gl-card>
    <template #header>
      <h3>This is a custom header</h3>
    </template>
    Hello World
    <template #footer>
      <span>This is a custom footer</span>
    </template>
  </gl-card>
</template>
