<template>
  <gl-new-dropdown text="Some dropdown">
    <gl-new-dropdown-item :is-check-item="true" :is-checked="true"
      >Checked item</gl-new-dropdown-item
    >
    <gl-new-dropdown-item :is-check-item="true">Unchecked item</gl-new-dropdown-item>
  </gl-new-dropdown>
</template>
