/* stylelint-disable property-no-vendor-prefix */
@mixin gl-appearance-none {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* stylelint-enable property-no-vendor-prefix */
