/**
* Display utilities
*
* Naming convention gl-display-{property-value}
*/
@mixin gl-display-none {
  display: none;
}

@mixin gl-display-sm-none {
  @media (min-width: $breakpoint-sm) {
    @include gl-display-none;
  }
}

@mixin gl-display-flex {
  display: flex;
}

@mixin gl-display-sm-flex {
  @media (min-width: $breakpoint-sm) {
    @include gl-display-flex;
  }
}

@mixin gl-display-inline-flex {
  display: inline-flex;
}

@mixin gl-display-block {
  display: block;
}

@mixin gl-display-sm-block {
  @media (min-width: $breakpoint-sm) {
    @include gl-display-block;
  }
}

@mixin gl-display-inline {
  display: inline;
}

@mixin gl-display-inline-block {
  display: inline-block;
}

@mixin gl-display-table {
  display: table;
}

@mixin gl-display-table-row {
  display: table-row;
}

@mixin gl-display-table-cell {
  display: table-cell;
}
