/**
* Flexbox utilities
*/
@mixin gl-align-items-baseline {
  align-items: baseline;
}

@mixin gl-align-items-center {
  align-items: center;
}

@mixin gl-flex-wrap {
  flex-wrap: wrap;
}

@mixin gl-flex-sm-wrap {
  @media (min-width: $breakpoint-sm) {
    @include gl-flex-wrap;
  }
}

@mixin gl-flex-direction-column {
  flex-direction: column;
}

@mixin gl-flex-direction-row {
  flex-direction: row;
}

@mixin gl-sm-flex-direction-row {
  @media (min-width: $breakpoint-sm) {
    @include gl-flex-direction-row;
  }
}

@mixin gl-md-flex-direction-row {
  @media (min-width: $breakpoint-md) {
    @include gl-flex-direction-row;
  }
}

@mixin gl-lg-flex-direction-row {
  @media (min-width: $breakpoint-lg) {
    @include gl-flex-direction-row;
  }
}

@mixin gl-flex-direction-row-reverse {
  flex-direction: row-reverse;
}

@mixin gl-flex-shrink-0 {
  flex-shrink: 0;
}

@mixin gl-flex-grow-1 {
  flex-grow: 1;
}

@mixin gl-flex-fill-1 {
  flex: 1;
}

@mixin gl-flex-basis-0 {
  flex-basis: 0;
}

@mixin gl-justify-content-center {
  justify-content: center;
}

@mixin gl-justify-content-end {
  justify-content: flex-end;
}

@mixin gl-justify-content-space-between {
  justify-content: space-between;
}

@mixin gl-justify-content-start {
  justify-content: flex-start;
}

@mixin gl-justify-content-md-start {
  @media (min-width: $breakpoint-md) {
    @include gl-justify-content-start;
  }
}

@mixin gl-align-self-start {
  align-self: flex-start;
}

@mixin gl-align-self-center {
  align-self: center;
}

@mixin gl-sm-align-self-center {
  @media (min-width: $breakpoint-sm) {
    @include gl-align-self-center;
  }
}
