<script>
import GlDropdownItem from '../new_dropdown/new_dropdown_item.vue';
import { tokensValidator } from './helpers';

export default {
  name: 'GlTokenSelectorDropdown',
  components: { GlDropdownItem },
  props: {
    show: {
      type: Boolean,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    dropdownItems: {
      type: Array,
      // All items need to have an `id` key
      validator: tokensValidator,
      required: true,
    },
    inputText: {
      type: String,
      required: true,
    },
    allowUserDefinedTokens: {
      type: Boolean,
      required: true,
    },
    componentId: {
      type: String,
      required: true,
    },
    registerDropdownEventHandlers: {
      type: Function,
      required: true,
    },
    registerResetFocusedDropdownItem: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      focusedDropdownItemIndex: 0,
    };
  },
  computed: {
    focusedDropdownItem() {
      return this.dropdownItems[this.focusedDropdownItemIndex];
    },
  },
  watch: {
    focusedDropdownItem(newValue, oldValue) {
      if (newValue?.id !== oldValue?.id) {
        this.$emit('input', newValue);

        if (!newValue) {
          return;
        }

        const dropdownItemRef = this.getDropdownItemRef(newValue);
        if (dropdownItemRef?.$el) {
          dropdownItemRef.$el.scrollIntoView({ block: 'nearest', inline: 'end' });
        }
      }
    },
  },
  created() {
    this.registerDropdownEventHandlers({
      handleUpArrow: this.handleUpArrow,
      handleDownArrow: this.handleDownArrow,
      handleHomeKey: this.handleHomeKey,
      handleEndKey: this.handleEndKey,
    });

    this.registerResetFocusedDropdownItem(this.resetFocusedDropdownItem);

    this.$emit('input', this.focusedDropdownItem);
  },
  methods: {
    handleDropdownItemClick(dropdownItem) {
      this.$emit('dropdown-item-click', dropdownItem);
    },
    handleMousedown(dropdownItem) {
      // `event.relatedTarget` returns `null` on Safari because buttons are not focused on click (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Clicking_and_focus)
      // Because of this we need to manually focus on the button. We do this in `mousedown` because it is fired before the `blur` event
      const dropdownItemRef =
        dropdownItem === null
          ? this.$refs.userDefinedTokenDropdownItem
          : this.getDropdownItemRef(dropdownItem);

      if (dropdownItemRef?.$el) {
        dropdownItemRef.$el.querySelector('button').focus();
      }
    },
    handleUpArrow() {
      if (!this.show) {
        return;
      }

      // First dropdown item has been reached
      if (this.focusedDropdownItemIndex === 0) {
        return;
      }

      this.focusPrevDropdownItem();
    },
    handleDownArrow() {
      if (!this.show) {
        this.$emit('show');

        return;
      }

      // Last dropdown item has been reached
      if (this.focusedDropdownItemIndex === this.dropdownItems.length - 1) {
        return;
      }

      this.focusNextDropdownItem();
    },
    handleHomeKey(event) {
      event.preventDefault();

      this.focusFirstDropdownItem();
    },
    handleEndKey(event) {
      event.preventDefault();

      this.focusLastDropdownItem();
    },
    focusLastDropdownItem() {
      this.focusedDropdownItemIndex = this.dropdownItems.length - 1;
    },
    focusFirstDropdownItem() {
      this.focusedDropdownItemIndex = 0;
    },
    focusNextDropdownItem() {
      this.focusedDropdownItemIndex += 1;
    },
    focusPrevDropdownItem() {
      this.focusedDropdownItemIndex -= 1;
    },
    resetFocusedDropdownItem() {
      this.focusedDropdownItemIndex = 0;
    },
    dropdownItemIsFocused(dropdownItem) {
      if (!this.focusedDropdownItem) {
        return false;
      }

      return dropdownItem.id === this.focusedDropdownItem.id;
    },
    getDropdownItemRef(dropdownItem) {
      return this.$refs.dropdownItems?.find(
        ref => ref.$attrs['data-dropdown-item-id'] === dropdownItem.id
      );
    },
    dropdownItemIdAttribute(dropdownItem) {
      return dropdownItem ? `${this.componentId}-dropdown-item-${dropdownItem.id}` : null;
    },
  },
};
</script>

<template>
  <div class="dropdown b-dropdown gl-new-dropdown gl-relative">
    <ul
      ref="dropdownMenu"
      role="menu"
      class="dropdown-menu gl-absolute"
      :aria-activedescendant="dropdownItemIdAttribute(focusedDropdownItem)"
      :class="{ show }"
    >
      <gl-dropdown-item v-if="loading" disabled>
        <slot name="loading-content">Searching...</slot>
      </gl-dropdown-item>
      <template v-else-if="dropdownItems.length">
        <gl-dropdown-item
          v-for="dropdownItem in dropdownItems"
          :id="dropdownItemIdAttribute(dropdownItem)"
          ref="dropdownItems"
          :key="dropdownItem.id"
          :data-dropdown-item-id="dropdownItem.id"
          :active="dropdownItemIsFocused(dropdownItem)"
          active-class="is-focused"
          tabindex="-1"
          @click="handleDropdownItemClick(dropdownItem)"
        >
          <div class="gl-mx-n4 gl-my-n3 gl-px-4 gl-py-3" @mousedown="handleMousedown(dropdownItem)">
            <slot name="dropdown-item-content" :dropdown-item="dropdownItem">
              {{ dropdownItem.name }}
            </slot>
          </div>
        </gl-dropdown-item>
      </template>
      <template v-else>
        <gl-dropdown-item
          v-if="allowUserDefinedTokens && inputText !== ''"
          ref="userDefinedTokenDropdownItem"
          active
          active-class="is-focused"
          @click="handleDropdownItemClick(null)"
        >
          <div class="gl-mx-n4 gl-my-n3 gl-px-4 gl-py-3" @mousedown="handleMousedown(null)">
            <slot name="user-defined-token-content" :input-text="inputText">
              Add "{{ inputText }}"
            </slot>
          </div>
        </gl-dropdown-item>
        <gl-dropdown-item v-else disabled>
          <slot name="no-results-content">No matches found</slot>
        </gl-dropdown-item>
      </template>
    </ul>
  </div>
</template>
